#container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#apresentação{
    padding: 28px 8%;
    margin-top: 5%;
}
#imagem{
    display: flex;
    padding: 28px 8%;
    padding-left: 20px;
    padding-bottom: 0%;
}
#imagem img{
        height:450px;
        width: 400px;
        border-radius: 50%;
}
#container2{
    display: flex;
}
#container2 ul{
    margin-top: 5px;
    font-size: 1.rem;
    color: #464e27;
    max-width: 600px;
}
#hobby{
    padding: 28px 8%;
    padding-right: 0%;
    width: 100%;
    max-width: 30rem;
}
#curiosidades{
    padding: 28px 8%;
    padding-left: 0%;;
    width: 100%;
    max-width: 30rem;
}
